@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family:'Yellowtail';
        src: url('../../public/fonts/Yellowtail-Regular.ttf') format('ttf');
        font-display:swap;
    }
}

body {
    background-color: #fdb9ca;
}

.date-picker  {
    margin-left: 25%;
    width:50%;
    color: #2d8d79;
    height:40px;
    font-size: 18px;
    text-align: center;
}
.overlay{
    backdrop-filter: blur(2px);
}

.footer {
    left:50%;
    transform: translate(-50%, 0);
    width:100%;
    
}